<div>
    <main-nav></main-nav>
    <div  style="width:100%; height:calc( 100vh - 50px ); overflow:auto; margin-top:50px;">
    <router-outlet>

    </router-outlet>
    </div>
<!--
<div class="container" style="margin-top:100px;">
    <div class="row">
        <div class="col-lg-4">
            <vm></vm>
        </div>
        <div class="col-lg-4">
                <vm></vm>
        </div>
        <div class="col-lg-4">
                <vm></vm>
        </div>

    </div>
</div>
-->
<div>